.textEditor {
  min-height: 180px;

  :global {
    .todo-list__label__description {
      margin-left: 25px;
    }

    .ck-content .todo-list .todo-list__label > input {
      left: 0;
      margin-right: 5px;
    }

    .ck-content {
      overflow-y: auto;
      max-height: 450px;
      min-height: 250px;
      padding: 0px 26px !important;
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.5em;
      }
      h3 {
        font-size: 1.17em;
      }
      h4,
      h5,
      h6 {
        font-size: 1em;
        margin-bottom: 16px;
        color: #261797;
      }
      h1,
      h2,
      h3 {
        margin-bottom: 16px;
        font-weight: bold;
        color: #261797;
      }
      @media only screen and (max-width: 650px) {
        max-height: 200px;
        min-height: 150px;
      }

      p {
        margin-bottom: 5px;
      }
    }
  }
}
